
div#tmpSlideshow {
    margin: auto;
    padding: 0px 0 0 0;
    position: relative;
    height:328px;
    width: 960px;
    border: 0px solid rgb(200, 200, 200);
	background:#01bdc6 ;
	overflow:hidden;
	}
#outer-bg-left{
	background:url(./images/curve-white.png) no-repeat left;
	height:330px;
	width:40px;
	position:absolute;
	z-index:100;
	}
#outer-bg-right{
	background:url(./images/curve-white.png) no-repeat right;
	height:330px;
	width:40px;
	position:absolute;
	z-index:100;
	margin:-330px 0 0 920px;
	}

div.tmpSlide {
    position: absolute;
    top: 0;
    left: 0;
	right: 0;
    width: 960px;
/*    height: 260px;*/
    display: none;
	
}
div.tmpSlide img {
    float: right;
    margin: 0px 0 0x 0px;
    width: 675px;
	height: 330px;
    border: 0px solid rgb(244, 244, 244);
}
div#tmpSlideshowControls {
    position: absolute;
    bottom: 30px;
	float: left;
    left: 100px;
    width: 175px;
	border: 0px solid rgb(244, 244, 244);
	filter:inherit; opacity:inherit;
}
div.tmpSlideshowControl {
    border: 0px solid #e1dece;
    float: left;
    margin: 0 5px 0 0;
    width: 18px;
    height: 18px;
    color: #FFF;
    font: 14px Arial, sans-serif;
    text-align: center;
    cursor: pointer;
}
div.tmpSlideshowControl span {
	background:url(./images/dactive-diomond.jpg) no-repeat ;
	display:inline-block;
	height:16px;
	width:14px;

}
div.tmpSlideshowControlOn {
    
}
div.tmpSlideshowControlActive span {
	background:url(./images/active-diomond.jpg) no-repeat;
	display:inline-block;
	height:16px;
	width:14px;
}
div.tmpSlideCopy {
    position: absolute;
    left: 30px;
    top: 20px;
	right:5px;
    width: 250px;
	filter:inherit; *opacity:inherit;
	
	
}
div#tmpSlideshow h4 {
    color: #FFF;
    text-transform: uppercase;
    font: 20px Arial, sans-serif;
    margin: 10px 0 0 0px;
}
div.tmpSlideCopy p {
    font: 13px Arial, sans-serif;
    color: #FFF;
}
